.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

*._backup*
*._legacy*
*._temp*
*._labs*

._backup/**
.history/**
.husky/**
.husky/**
.lh/**
**/.editorconfig
**/.lintstagedrc.js
**/.prettierrc
